//Colors

$primary-background-color: #fff6e6;
$secondary-background-color: #ffffff;
$button-color: #8dad93;
$link-color: #4a5c4d;
$primary-header-color: #324235;
$secondary-header-color: #5c5b52;
$text-color: #42413b;

//Fonts

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Lora", serif;
